body {
    background-color: #ffc0cb;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #88676c;
    text-decoration: none;
}



@media (max-width: 991px) { 
    body {
        background-color: blue;
    }
}

@media (max-width: 767px) { 
    body {
        background-color: black;
    }
}