body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    body {
        background-color: blue;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    body {
        background-color: #ffc0cb;
        color: black;
    }

    a {
        color: #88676c;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}