#createuser-form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    
   .createuser-box {
       padding-top: 2rem;
       border-radius: 8px;
       box-shadow: 5px 10px 10px #00000032;
       background-color: $white;
       

       h3 {
           text-align: center;
           font-family: $font-secondary;           
        }

       .form-createuser input{
          background-color: $inputgrey;
        }

        .checkboxsection {
            display: flex;
            margin-top: 1rem;
            
            p {
                
                margin-left: 0.5rem;
            }

            
        }


        label {
            margin-top: 0.5rem;
        }

        .btn-section {            
            margin-bottom: 2rem;
        }

        #hide1 {
            display: none;
        }
        #hide3 {
            display: none;
        }

        .eye {
            align-self: center;
            margin-left: 0.5rem;
        }
    }
   
}

body {
   background-color: $blue;
   
   
}