#login-form {
     margin-top: 5rem;
     
    .login-box {
        padding-top: 2rem;
        border-radius: 8px;
        box-shadow: 5px 10px 10px #00000032;
        background-color: $white;

        label{
            margin-top: 0.5rem;
        }
        

        h3 {
            text-align: center;
            font-family: $font-secondary;
        }

        .form-login input{
           background-color: $inputgrey;
        }

        .checkbox {
            margin-top: 1rem;
            margin-right: 0.5rem;
        }
        #hide1 {
            display: none;
        }
        .eye {
            align-self: center;
            margin-left: 0.5rem;
        }

    }

    
}

body {
    background-color: $blue;
    
}