.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}   
    

.container {
    width: 100%;
    margin-left: 13.4375rem;
    margin-right: 13.4375rem;
    padding-left: 0rem;
    padding-right: 0rem;    
}