


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Roboto',sans-serif; 
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1120px; } }


.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

#back-to-top {
    position: fixed;
    right: 3%;
    bottom: 5%;    
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;    
}

.bg-blue {
    background-color: #2baaec;
    color: white;
}

.bg-blue:hover {
    background-color: #25e6c8; 
}

.bg-greenish {
    background-color: #25e6c8;    
    color: white;
}

.bg-greenish:hover {
    background-color: #2baaec;
}


#navbar-top {
    display: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}
@media (min-width: 768px) { #navbar-top { display: block; } }

#navbar-top .hours {
    font-size: 1rem;    
}

#navbar-top .hours i {
    font-size: 1.2em;
    margin-right: 0.5rem;
    color: #2baaec;
}


#navbar-top .nav-links {
   list-style: none;
   display: flex;
   margin: 0;
}

#navbar-top .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

#navbar-top .nav-link:last-child {    
    padding-right: 0rem;
}

#navbar-top .nav-link a{
    color: #2baaec;
    text-decoration: none;
}

#navbar-top .nav-link:hover {
    color: #25e6c8;    
}


#navbar {
    position: sticky;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    color: white;    
    top: 0;
}

.whitespace {
    height: 2000px;
}
