@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.border {
    border: 1px solid #cccccc;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1410px;
    }
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}


/* navbar-top */
.navbar-top {
    display: none;
    padding: 1rem 0;
}

.navbar-top .border {
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.navbar-top .container {
    padding: 0;
}

@media (min-width: 768px) {
    .navbar-top {
        display: block;
    }
}

.working-hours {
    display: flex;
    align-items: center;
}

.working-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2BAAEC;
}

.working-hours p {
    margin: 0;
    font-size: 1.05rem;
}

.navbar-top ul  {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-top ul li {
    margin-left: 1.3rem;
}

.navbar-top a {
    color: #2BAAEC;
    font-size: 1.1rem;
}

.navbar-top a:hover {
    color: #25E6C8;
}

/* navbar-main */
.navbar-main {
    margin-top: 2.9rem;
    margin-bottom: 3.3rem;
}

.navbar-main ul {
    display: flex;
    list-style: none;    
}
.navbar-main ul li {
    margin-left: 3rem;
    font-size: 1.05rem;
    font-family: Roboto Slab;
}

.navbar-main a {
    color: #363636;
    text-decoration: none;
}

/* navbar-showcase */
.navbar-showcase {
    padding-top:1rem;
    padding-bottom: 0;
    display: flex;
    background: #DEDEDE;
    
}
.showcase-icon  {
    line-height: 0;
}


/* navbar-appointment */
/* OPACITYN ÄR LITE FEL FORTFARANDE */
.navbar-appointment {
    background-color: rgb(43, 170, 236, 80%) ;
    padding-top:5rem;
    padding-bottom:5rem;
    line-height: 0;              
}

.navbar-appointment p {
    color:  #FFFFFF;
    font-family: Roboto Slab;
    display: flex;
    font-size: 2rem;
    
}
.appointment-section {
display: flex;
}
.navbar-appointment button {
    background-color: white;
    color: #2ca9ed;    
    font-size: 1.05rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    height: 3.5;        
}


/* navbar-footer */
.navbar-footer {
    background-color: #2BAAEC;
}
.navbar-footer p {    
    opacity: 60%;
    color: #F3FBFF;
    font-size: 1rem;
    margin-left: 50%;      
    
}
