@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return black;
    }
    @else {
        @return white;
    }
}

@function set-dynamic-text-color($color, $procent: 50%) {
    @if(lightness($color) > 70) {
        @return darken($color, $procent);
    }
    @else {
        @return lighten($color, $procent);
    }
}