#icons {
    
    .icons {        
        text-align: center;        
        
        @include md {
            display: flex;            
        }

        @include lg {           
            align-items: center;
            justify-content: center;              
        }

        .icon {
            
            @include lg {
                margin-left: 1rem;
                margin-right: 1rem;                
            }            
        }
    }
    
}