@mixin default-font {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: $font-primary;
}

@mixin center-content($height: 100vh) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
}

@mixin set-background($color) {
    background-color: $color;
    color: set-dynamic-text-color($color);
}