@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', sans-serif;

$spaceamounts: (0,1,2,3,4,5);