* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.whitespace {
    height: 1000px;
}

#parent {
    border: 3px solid black;
    height: 400px;
    width: 400px;
}

#child {
    border: 2px solid #66caa9;
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    color: #66caa9;
    display: flex;
    justify-content: center;
}

#child p {
    margin: auto;
}